/* color on state red */
div.viewlet_workflowstate span.state-advicecreated {
    background-color: red;
    border-color: red;
}

/* color on state blue */
div.viewlet_workflowstate span.state-financial_advice_signed {
    background-color: blue;
    border-color: blue;
}

.state-advicecreated {color: red !important;}
.state-financial_advice_signed {color: blue;}
/* listType 'normalnotpublishable' */
table#faceted_table.listing tr[class][class] td.meeting_item_listType_normalnotpublishable {
    background-color: orange;
}
span.item_listType_normalnotpublishable,
div.tooltipster-content a.item_listType_normalnotpublishable:link,
div.tooltipster-content a.item_listType_normalnotpublishable:visited {
    color: orange;
}
/* listType 'latenotpublishable' */
table#faceted_table.listing tr[class][class] td.meeting_item_listType_latenotpublishable {
    background: repeating-linear-gradient(
    45deg,
    red,
    red 10px,
    orange 10px,
    orange 20px);
}
span.item_listType_latenotpublishable,
div.tooltipster-content a.item_listType_latenotpublishable:link,
div.tooltipster-content a.item_listType_latenotpublishable:visited {
    color: orange;
}
