#root {
    color: black;
    background: dark gray;
}

edit {
    color: black;
}

linebox {
    color: white;
    background: black;
}

/*text {
    color: white;
    background: dark red;
}*/

.custom {
    background: dark gray;
}

.dark {
    color: black;
    background: white;
}

#light {
    color: white;
    background: black;
}

#padded {
    color: white;
    background: black;
}

.flow {
    color: white;
    background: dark blue;
}

button {
    color: yellow;
}

button:focus {
    color: light red;
}

scrollbar,
/*text:focus:hover,*/
#texthover {
    color: light blue;
}

scrollbar:focus {
    color: black;
}

text.my_class {
    color: green;
}

#id:focus {
    color: light blue;
}

.col1 {
    background: dark blue;
}

.col2 {
    color: black;
    background: brown;
}
