.page {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    margin-top: 0.5rem;
    margin-left: 16rem;
    flex-direction: column;
    align-items: center;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    height: 100vh;
    padding: 2rem 1rem;
    background-color: #f8f9fa;
    z-index: 999;
}

.regenerate_button {
    width: 8rem;
}

.pie_chart {
    height: 40vh;
    width: 80vw;
}

.progress_chart {
    height: 40vh;
    width: 80vw;
}

.no-hover {
  pointer-events: none;
}

.no-hover:hover,
.no-hover:focus,
.no-hover:active {
  background-color: inherit !important;
  box-shadow: none !important;
}
