    table.atom {
    background-color: #fdfdfd;
    border-collapse: collapse;
    }
    table.atom td {
    border: 1px solid black;
    padding: 12px;
    vertical-align: top;
    }

    table.atom th {
    border: 1px solid black;
    padding: 12px;
    vertical-align: top;
    }
    
    table.atom_group {
    background-color: #f8f8f8;
    border-collapse: collapse;
    }
    table.atom_group td {
    border: 1px solid black;
    padding: 12px;
    vertical-align: top;
    }

    table.attribute {
    background-color: #f8f8f8;
    border-collapse: collapse;
    }
    
    table.attribute td {
    border: 1px solid black;
    padding: 12px;
    vertical-align: top;
    }

    table.attr_group {
    background-color: #f8f8f8;
    border-collapse: collapse;
    }
    table.attr_group td {
    border: 1px solid black;
    padding: 12px;
    vertical-align: top;
    }

    table.elements {
    background-color: #f8f8f8;
    border-collapse: collapse;
    }
    table.elements td {
    border: 1px solid black;
    padding: 6px;
    vertical-align: top;
    }

    p.hierarchy_arrow:before {
        /* content: "↳"; */
        content: "\21B3";
    }
  
    p.hierarchy1 {
    padding-left: 8px;
    }

    p.hierarchy2 {
    padding-left: 24px;
    }

    p.hierarchy3 {
    padding-left: 40px;
    }

    td.highlight {
    background-color: #ffffe0;
    }
