.form-divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.form-divider-line {
    flex: 1;
    height: 1px;
    background: #ddd;
}

.form-divider-text {
    padding: 0 15px;
    color: #666;
}

.submit-row a.button {
  display: block;
  padding: 10px 15px;
  font-size: 0.8125rem;
  width: 50%;
  margin: 0 auto;
}
