code[class*="language-"],
pre[class*="language-"] {
  color: #abb2bf;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #2C3340;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #2C3340;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  color: white;
  background: var(--code-theme-background);
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.keyword {
  color: #d55119;
}

.token.operator {
  color: #d55119;
}

.token.boolean {
  color: #56B6C2;
}

.token.comment {
  color: #5C6370; 
}

.token.string {
  color: #C8AE9D;
  
}

.token.number {
  color: #D19A66;
  
}

.token.attr-name {
  color: #D19A66;
  
}

.token.selector {
  color: #D19A66;
  
}

.token.builtin {
  color: #56B6C2;
  
}

.token.char {
  color: #56B6C2;
  
}

.token.constant {
  color: #56B6C2;
  
}

.token.variable {
  color: #FF9057;
  
}

.token.class-name {
  color: #E5C07B;
  
}

.token.function {
  color: #EBEBFF;
  
}

.token.tag {
  color: #E06C75;
  
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
