:root {
  --base-font-family: "Helvetica Neue", "Segoe UI", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --base-font-size: 14px;
  --code-font-family: "Fira Mono", "SF Mono", Menlo, Consolas, Monaco,
    Liberation Mono, Lucida Console, monospace;
  --code-font-size: 12px;
  --code-font-weight: 450;
  --theme-color: #fb007a;

  --sidebar-name-font-weight: 900;
  --sidebar-name-text-align: left;
  --sidebar-name-color: var(--base-color);

  --sidebar-nav-pagelink-padding: 0 0 0 0;
  --sidebar-nav-pagelink-background: transparent;
  --sidebar-nav-pagelink-background--active: transparent;
  --sidebar-nav-pagelink-background--collapse: transparent;
  --sidebar-nav-pagelink-background--loaded: transparent;

  --heading-h1-font-weight: 900;
  --heading-h2-font-weight: 900;
  --heading-h3-font-weight: 900;
  --heading-h4-font-weight: 900;
}
@media (prefers-color-scheme: dark) {
  :root {
    --mono-hue: 227;
    --theme-color: #d55119;
  }
}

.codey {
  font-family: var(--code-font-family);
  font-size: 0.9em;
  font-weight: var(--code-font-weight);

  margin: var(--code-inline-margin);
  padding: var(--code-inline-padding);
  border-radius: var(--code-inline-border-radius);
  background: var(--code-inline-background);
  color: var(--code-inline-color, currentColor);

  /* to make horizontal padding and border radius apply to wrapped text */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.ascii code {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace !important;
  line-height: 1.2em !important;
}
.sidebar-nav {
  font-size: 14px;
}
.sidebar-nav p {
  margin: 0.5em 0 0 0;
}
.sidebar-nav strong {
  color: #808080;
  font-size: 0.9em;
}
h1.app-name {
  line-height: 1.1em;
}
.markdown-section h1,
h2 {
  letter-spacing: -0.04em;
}
.search {
  font-size: 14px;
}
div.tip p {
  margin: 0 0 0 0;
}
div.badges img,
div.badges picture {
  margin-right: 2px;
}
/* prismjs, italicize comments in code */
.token.comment {
  font-family:
    "Source Code Pro",
    "SF Mono",
    Menlo,
    Consolas,
    Monaco,
    Liberation Mono,
    Lucida Console,
    monospace;
  font-style: italic;
}

/* docsify-plugin-flexible-alerts default color
is not accounting for dark mode */
.alert.callout {
  border-color: var(--mono-tint2);
}

.markdown-section .code-file pre[data-lang]::after {
  content: var(--filename) !important;
  margin-left: 0.5em;
  padding: 0.2em;
  color: var(--base-color);
  background-color: var(--mono-tint2);
  opacity: 0.6;
  font-weight: 200;
  font-size: 0.9em;
  border-radius: 0.25em;
}

@media (prefers-color-scheme: dark) {
  .markdown-section .code-file pre[data-lang]::after {
    background-color: var(--mono-tint1);
  }
}



.ap-control-bar {
  border-top: 0 !important;
}

.ap-playback-button {
  position: absolute;
  right: 0;
}

.ap-faint {
  opacity: 0.6 !important;
}

/*
.ap-player::before {
  content: "Console:";
  display: block;
  font-size: 0.9em;
  padding-left: 0.5em;
  opacity: 0.5;
  border-bottom: 2px solid var(--base-background-color);
}
*/