.buttons {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	background: #eee;
	button {
		position: absolute;
		background: none;
		border: none;
		&:hover {
			color: #27fdba;
		}
	}
	button#up {
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}
	button#left {
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
	}
	button#right {
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
	}
	button#down {
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}
}
button {
	&:focus {
		outline: none;
	}
}
