.help-link {
  display: inline-block;
  padding-top: 5px;
}

.help-link__icon {
  border: .2em solid gray;
  border-radius: 100%;
  padding: 0 .5em;
  color: gray !important;
  font-weight: bold;
}

.help-link__icon:hover,
.help-link__icon:active,
.help-link__icon:visited,
.help-link__icon:focus{
  text-decoration: none !important;
}

.field-warning {
  margin-top: 1em;
}
