// Constants
$list-row-height: 45px;


.bootstrap .page-head {
  top: 0;
}

.bootstrap table>tbody>tr>th {
  border-bottom: solid 1px #eaedef;
  border-top: 0 !important;
}

.bootstrap table>tbody>tr>td {
  background-color: transparent !important;
}

#content.bootstrap {
  padding: 0;
}

#content.bootstrap .panel {
  margin-bottom: 200px;
}

#content.bootstrap .panel.no-margin {
  margin-bottom: 20px;
}

.form-row ul {
  list-style: none;
}

.tabs-in-lef-panel {
  display: inline;
}

.tabs {
  position: relative;
  left: 80px;
  display: inline;
}

table.assigned-themes .sortable-placeholder {
  display: block;
  border: 1px solid #ccc;
  width: 282%;
  height: 97px;
  background-color: #eee;
  background-color:#eee;
  -webkit-border-radius:5px;
  border-radius:5px;
}

.related-widget-wrapper-link {
  display: none;
}


.content {
  padding: 0 5px;
}
.navbar .navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .brand {
  background: url('http://printbox-delfin1.s3.eu-central-1.amazonaws.com/static/img/dashboard/logo_oscar.png?9f9b5f476c97') no-repeat scroll 0 0 transparent !important;
  width: 200px !important;
  margin: 5px -10px;
  min-height: 20px;
}
input[type="number"] {
  display: block;
  width: 100%;
  height: 27px;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1.42857;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input[type="checkbox"] {
  margin: 6px 2px 0;
}
.bootstrap table.tableDnD .img-thumbnail {
  max-width: 80px;
  max-height: 80px;
}
.bootstrap table.tableDnD tr {
  height: 52px;
}
.bootstrap table.tableDnD tbody tr {
  height: $list-row-height;
}
.bootstrap table.tableDnD tbody tr th {
  vertical-align: middle;
}
.bootstrap table.translations td.empty-field {
  input, textarea {
    background: #fbb;
  }
}
.bootstrap .table.assigned-themes,
.bootstrap .row.assigned-themes {
  width: 41.66667%;
  margin-left: 25%;
}
.img-wrapper {
  max-width: 40px;
  max-height: 40px;
}
.control-group.error input,
.form-row.errors input,
.control-group.error select,
.form-row.errors select {
  border-color: #a94442;
}
.modal-backdrop.in {
  opacity: 0.5 !important;
}
.tooltip-errors-list,
.tooltip .errorlist {
  margin: 0px;
  padding: 0px;
}
.form-group label {
  position: relative;
  width: 100%;
  font-weight: normal;
}
.form-group label .label-help-text {
  position: absolute;
  right: 10px;
  bottom: -15px;
  font-size: 0.750em;
}
.form-group ul {
  margin: 0;
  padding-top: 5px;
  padding-left: 5px;
  list-style-type: none;
}
.form-group ul li {
  float: left;
  margin-right: 15px;
}
.form-group ul li label {
  position: relative;
  line-height: 21px;
  padding-left: 18px;
}
.form-group ul li label input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
}
.form-group p {
  margin-bottom: 0;
  padding-top: 5px;
}
.form-group .delete-field input[type="text"] {
  width: -moz-calc(100% - 100px);
  width: -webkit-calc(100% - 100px);
  width: calc(100% - 100px);
  float: left;
}
.form-group .delete-field input[type="checkbox"] {
  margin-left: 20px;
}
.form-group .remove-image {
  margin-left: 10px;
}
.bootstrap .form-horizontal .widths-controls {
  label {
    padding-top: 22px;
  }
  .controls {
    padding-left: 0;
    padding-right: 0;
  }
  table {
    th {
      text-align: center;
      border: none !important;
    }
    td {
      input {
        text-align: center;
      }
    }
  }
}
.field-append {
  float: right;
}
.field-start_date select[name$="day"] {
  display: none;
}
.field-start_date select[name$="month"] {
  width: 49%;
  float: left;
  margin-right: 2%;
}
.field-start_date select[name$="year"] {
  width: 49%;
}
.field-spring_delete {
  display: none;
}
.field-spine_delete {
  display: none;
}
.field-spread_shadow_delete {
  display: none;
}
.field-half_page_shadow_delete {
  display: none;
}
.field-thumb_delete {
  display: none;
}
.workspace-pages {
  margin-top: 20px;
  position: relative;
  z-index: 10;
}
.workspace-pages .nav-tabs {
  margin-bottom: 0;
}
.workspace-pages .nav-tabs li {
  position: relative;
}
.workspace-pages .nav-tabs li .tab-delete {
  position: absolute;
  display: block;
  top: -7px;
  right: 0;
  color: red;
  border: none;
  background: none;
  padding: 6px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
}
.workspace-pages .nav-tabs li .tab-delete:hover {
  text-decoration: underline;
}
.workspace-pages .nav-tabs li.error a {
  color: #b94a48;
  text-decoration: underline;
}
.workspace-pages .nav-tabs li.add-new a {
  color: #555555;
  border: 1px solid #ddd;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: none;
}
.workspace-pages .nav-tabs li.pages-available {
  line-height: 38px;
  float: right;
  margin-right: 5px;
  font-weight: bold;
}
.workspace-pages .tab-content {
  border-top: none;
  border-color: #ddd;
}
.workspace-pages .spinner {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.5) url('../img/spinner.gif') no-repeat center center;
}
.workspace-pages .mini-input {
  width: 300px;
}
.workspace-pages .field-info {
  line-height: 34px;
}
.workspace-pages .field-info-uppercase {
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .bootstrap .form-group label.control-label {
    text-align: left;
  }
  .bootstrap .form-group label.control-label .label-help-text {
    position: relative;
    bottom: 0;
    right: 0;
    margin-left: 5px;
  }
  .bootstrap .form-horizontal .widths-controls {
    label {
      display: block;
      float: left;
      padding-top: 5px;
    }
    table {
      width: 100%;
    }
    .controls {
      width: 100%;
    }
  }
  .bootstrap .table.assigned-themes,
  .bootstrap .row.assigned-themes {
    margin-left: 16.66667%;
    width: 66.66667%;
  }
}
@media (max-width: 767px) {
  .bootstrap .table.assigned-themes,
  .bootstrap .row.assigned-themes {
    margin-left: 0;
    width: 100%;
  }
}

.skin-left {
  width: 100%;
  float: left;
}
.skin-right {
  width: 100%;
  float: left;
}
.skin-work-area {
  margin-top: 20px;
}
.skin-work-area .image-area {
  float: left;
}
.skin-page-list {
  width: 100%;
  float: left;
  height: 37px;
}
.skin-page-list [contenteditable="true"] {
  background: #00AAFF;
}
.skin-page-list .page-deleted {
  display: none;
}
.skin-page-list .page-name:not([contenteditable="true"]) {
  cursor: pointer;
}
.skin-page-list .page-name:not([contenteditable="true"]):hover {
  text-decoration: underline;
}
.skin-page-list ul {
  width: 100%;
  list-style-type: none;
  margin-left: 0;
}
.skin-page-list ul li {
  position: relative;
}
.skin-page-list ul li .page-name {
  font-size: 1.125em;
}
.skin-page-list ul li .tab-delete {
  display: block;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 0;
  right: 5px;
  color: #333;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.skin-page-list ul li .tab-delete:hover {
  text-decoration: none;
  color: #b94a48;
}
.skin-page-list ul li.error .page-name {
  color: #b94a48;
  text-decoration: underline;
}
.skin-page-list ul.not-removable li:not(.add-page) .page-name {
  padding-right: 8px;
}
.skin-page-list ul.not-removable li:not(.add-page) .tab-delete {
  display: none;
}
.skin-page-list ul li:hover .controls {
  opacity: 1.0;
}
.skin-page-list .add-page .page-name {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  cursor: default;
  padding-right: 5px;
}
.skin-page-list .add-page .tab-delete {
  display: none;
}
.skin-page-controls {
  border-color: #ddd;
  border-top: none;
}
.skin-page-controls ul.pages-list {
  margin: 0;
  list-style-type: none;
}
.skin-page-controls ul.pages-list li.skin-page-form {
  display: none;
}
.skin-page-controls ul.pages-list li.skin-page-form.active {
  display: block;
}
.skin-page-controls ul.pages-list li.skin-page-form .background-color-input {
  height: 0;
}
.skin-page-controls ul.pages-list li.skin-page-form .background-color-input .controls {
  margin-left: 0;
}
.skin-page-controls ul.pages-list li.skin-page-form .background-color-input .controls input {
  width: 180px;
}
.skin-page-controls ul.pages-list li.skin-page-form .remove-image {
  margin-left: 10px;
}
.skin-page-controls .error {
  color: #b94a48;
}
.skin-page-controls .btn-upload {
  margin-left: 0;
}
.skin-page-controls .canvas-control-group .control-label {
  line-height: 30px;
}
.skin-page-controls .control-position .label {
  float: left;
  margin-left: 20px;
  margin-top: 13px;
  margin-right: -10px;
  color: #555;
}
.skin-page-controls .control-size .label {
  float: left;
  margin-left: 20px;
  margin-top: 13px;
  margin-right: 10px;
  color: #555;
}
.skin-page-controls .control-size .btn-group {
  display: inline-block;
  padding-top: 7px;
}
.skin-page-controls .canvas-arrows {
  width: 40px;
  height: 40px;
  position: relative;
  font-size: 16px;
  float: left;
  margin-left: 20px;
}
.skin-page-controls .canvas-arrows .up {
  position: absolute;
  top: 0;
  left: 12px;
}
.skin-page-controls .canvas-arrows .right {
  position: absolute;
  top: 12px;
  right: 3px;
}
.skin-page-controls .canvas-arrows .down {
  position: absolute;
  bottom: -5px;
  left: 12px;
}
.skin-page-controls .canvas-arrows .left {
  position: absolute;
  top: 12px;
  left: 1px;
}
.skin-page-controls .canvas-arrows a:hover {
  text-decoration: none;
}
.skin-page-controls .canvas-arrows a.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.skin-page-controls .spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  margin-bottom: -3px;
  background: url('../img/spinner.gif') no-repeat center center;
}
.skin-page-controls .skin-canvas {
  padding: 20px;
  padding-top: 5px;
}
.skin-page-controls .skin-canvas canvas {
  border: 1px solid #cccccc;
  border-radius: 3px;
}
img.work-area {
  max-height: 400px;
  max-width: 400px;
}
.area-select-bleed {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px;
  border: 1px solid red;
}
.area-select-safe {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px;
  border: 1px solid blue;
}
.areaxy input {
  display: inline-block;
  width: 50px !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.CodeMirror {
  height: 75vh !important;
  border: solid 3px #ccc;
}

#form_config #id_no_thumbnail_image-image img {
    width: 150px;
}

.bootstrap .checkbox label {
    padding-left: 0;
}

.translation-checkbox-outer {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

div.translations-fields {
    margin-top: 0;
    margin-bottom: 0;

    .form-group {
        margin-bottom: 5px;
    }
}

#content > .tab > .tab-menu-content {
  display: none;
}

.bootstrap .dropdown-pull-right>.dropdown-menu {
    right: 0;
    left: auto;
}

#msg-info-modal {
    .alert {
        background-color: transparent;
        border: 0;
        margin-bottom: 0;
    }
}

.instance-message {
  text-align: center;
  padding: 14px;
  font-size: 14px;
  color: white;
  a {
    color: white;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.instance-message-error {
  background: #eb1313;
}

.instance-message-warning {
  background: #ebac13;
}

.pretty-images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;

    >.form-group {
        margin: 5px !important;

    }
    >.placeholder .image-input >div {
        visibility: hidden !important;
    }
    >.drag-placeholder {
        width: 140px;
        height: 119px;
        background-color: #ffffff;
        border: 1px dashed #cbd2d7;
    }
    .image-input {
        >div {
            position: relative;
            width: 140px;
            height: 119px;
            background-color: #f4f4f4;
            border: 1px dashed #cbd2d7;
            >img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            > a.add-btn {
                color: blue;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                i {
                    font-size: 200%;
                    font-weight: bold;
                }
            }
            > a.remove-btn {
                display: none;
                position: absolute;
                top: -10px;
                right: -5px;
                color: red;
                background-color: white;
                i {
                  font-size: 170%;
                  font-weight: bold;
                }
            }
            > a.edit-btn {
                display: none;
                position: absolute;
                top: -10px;
                left: -5px;
                background-color: white;
                i {
                    font-size: 170%;
                    font-weight: bold;
                }
            }
            > img {
                max-width: 100%;
                max-height: 100%;
            }

        }
        >div.selected-image {
            background-color: #e8f4de;
            border-color: #c5d7b5;
            &:hover {
               cursor: move;

               a.remove-btn, a.edit-btn {
                   display: block;
               }
            }
            a.add-btn {
               display: none;
            }
        }
    }
}

.image-input {
  img {
    max-width: 300px;
    max-height: 300px
  }
}

.bootstrap .table.table-compact tbody {
  tr {
    td {
      vertical-align: top;
      .form-group {
        margin-bottom: 0;
        p {
          margin: 0;
        }
      }
    }
  }
}

.prices-rows {
  .row>div {
    padding: 0 10px;
  }
}

.dropbtn {
  font-size: 32px;
  border: none;
  background-color: #f0f0f0;
  width: 27px;
  height: 17px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  bottom: 17px;
  padding: 4px;
  font-size: 1rem;
  background-color: #ddd;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 4px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #b8b8b8;
}

a.disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

#logos {
  .description {
    margin-top: 17px;
    margin-bottom: 17px;
  }
  .row {
    margin-bottom: 20px;
  }
}

.CodeMirror {
  height: auto !important;
}

input[disabled] {
    cursor: not-allowed !important;
    background-color: #eee !important;
    opacity: 1 !important;
}

.loading-dots:after {
  content: '.';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: .25em 0 0 rgba(0, 0, 0, 0),
    .5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: .25em 0 0 rgba(0, 0, 0, 0),
    .5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: .25em 0 0 black,
    .5em 0 0 rgba(0, 0, 0, 0);
  }
  80%, 100% {
    text-shadow: .25em 0 0 black,
    .5em 0 0 black;
  }
}

.pagination-flat .dropdown-menu {
  max-height: 60vh;
  min-width: 60px;
  overflow-y: auto;
}

.related-field-container {
  display: flex;
}

.related-field-container > a {
  margin-left: 10px;
}

.proj-related-objs-dropdown-menu {
  display: none;
  position: absolute;
  padding: 10px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.accordion-header {
  margin: 0 0 10px 0 !important;
  background: #fff !important;
  border-radius: 4px;
  border: 1px solid #cecece;
}

.accordion-header:hover {
  border-radius: 4px;
  border: 1px solid #cecece;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.accordion-active {
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.params-container {
  border-radius: 4px;
  border: 1px solid #cecece;
  background-color: #fff;
  padding: 1em 2.2em;
  margin-bottom: 10px;
}

.proj-related-objs-table {
  width: 100%;
  font: 400 12px/1.42857 "Open Sans", Helvetica, Arial, sans-serif !important;
  margin-bottom: 10px;
}

.proj-related-objs-table tr {
  border-bottom: solid 1px #eaedef;
}

.proj-related-objs-table th {
  color: #666;
  border-bottom: solid 1px #a0d0eb;
}

.proj-related-objs-table td {
  width: 50%;
}

.proj-related-objs-table th, .proj-related-objs-table td {
  padding: 8px !important;
}

.proj-related-objs-table a {
  color: #00aff0;
}

.proj-related-objs-table a:hover {
  color: #337ab7;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.column-result_actions {
  min-width: 94px;
}

.datetimepicker-range {
  display: flex;
  flex-wrap: wrap;

  .subwidget {
    padding: 2px;
    @media (min-width: 1500px) {
      width: 49%;
    }
  }
}

.bootstrap .tableDnD > thead > tr > th {
  vertical-align: middle;
}

div[id$=render_bleedbox_marks] {
    margin-left: 5px;
}
