
.validation-wrapper[data-v-1575257f] {
  background-color: #ffffff;
}
.error-message[data-v-1575257f] {
  color: #991b1b;
  margin: 5px 0;
  font-size: 12px;
}
.warning-icon[data-v-1575257f] {
  cursor: pointer;
  font-size: 24px;
}
