.devspan {position:absolute;z-index:99996;}
.devspan:hover {background:rgba(144, 238, 144, 1);z-index:99999;border-radius: 12px;min-height: 40px; padding: 5px; font-size: 20px;color:#337ab7}
.devspan:hover a, .devhead:hover a{display: inline-block;}
.devspan a, .devhead select, .devhead a, .hidden {display: none}
.show {display: block!important;}
.devhead:hover{min-height: 50px; z-index:99999!important; max-width: 255px;border-radius: 12px;}
.devspan a {padding: 1px;font-size: 14px}
#id_devhead {position:fixed;z-index:99997; left: 50px; background: white; border-radius: 12px;border-width: 1px;
    border-style: solid; border-color: #e8e3e3;user-select: none;
}
#id_devhead a,.devspan a{transform: scale(1,1); transition: all 0.6s;cursor: pointer; vertical-align:middle}
#id_devhead a:hover,.devspan a:hover{transform: scale(1.1,1.1);}
#id_devhead a {
    color: #337ab7;
    text-decoration: none;
    font-size: 14px;
    line-height: 2;
    margin-right: 2px;
}

#id_devhead .dragcolor{
    color: #bd890a;
}
.dsdisable{
    background-color: gray;
}
.dscommon{
    background-color: #bd890a;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: rgb(255, 255, 255)!important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: rgb(27, 171, 192)!important;
    border-radius: 12px;
}

.devspan .dragcolor {
    background-color: rgb(110, 178, 87) !important;
}
.interval {
   border-color: red;
   border-width: 1px;
   border-style: dashed;
}
.drill {
    border-radius: 1px;
}


.smtlabel {
    cursor: pointer;
    padding: 2px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 5px;
    background-color: #347082;
}

.dropdown {
    clip:rect(2px 60px 20px 2px);
    margin:-1.6px;
    width:60px;
    height:20px;
    line-height:1.4;
    border:1px solid #fff;
}

.controller-corner {
width: 0.7rem;
height: 0.7rem;
background-color: #32c4ac;
position: absolute;
}

.devsmt {box-shadow:0 0 2px 1px #d9d9d9}

.iframechart {
    height: 98%;
    border-width: 0;
}

.pro {
    color: #bd890a !important;
}

.topclick {
    position:relative;
    display:inline-block;
}
.ltbox2{
    margin: 0 0 0 -30px;padding: 0;
    border-radius: 10px;
    background-color: white;
    position:absolute;
    display: none;z-index: 999;
}
.ltbox2 li{
    width: 100px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    display: block;
    color: black;
}
.ltbox2 li:hover{
    background-color:#E8E8E8;
}
.topclick:hover .ltbox2 {
    display: block;
}

.devdiv{
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    border: dashed 1px;
}

.devgrid{
    background-image:linear-gradient(90deg,rgb(214 218 199) 5%,transparent 0),
    linear-gradient(rgb(214 218 199) 5%,transparent 0);
    background-size:1rem 1rem;
 }