.md-content h2 {
  border-bottom: 2px solid var(--md-default-fg-color--lighter);
  padding-bottom: 0.4em;
  margin-bottom: 1em;
}

.md-content hr {
  border: none;
  border-top: 2px dashed var(--md-default-fg-color--lighter);
}

.md-nav--primary > .md-nav__list > .md-nav__item--section:not(:first-child) {
  border-top: 1px solid var(--md-default-fg-color--lighter);
  margin-top: 1em;
  padding-top: 1em;
}

.md-nav--primary > .md-nav__list > .md-nav__item--section > .md-nav__container > .md-nav__link .md-ellipsis,
.md-nav--primary > .md-nav__list > .md-nav__item--section > .md-nav__link .md-ellipsis {
  font-weight: 700;
  font-size: 1.1em;
}
