.x-flip[data-v-08e238c3] {
  transform: scaleX(-100%);
}
.input-field[data-v-08e238c3] {
  width: 100%; /* Full width to fit container */
  padding: 6px 10px; /* Reduced padding */
  font-size: 14px; /* Smaller font size */
  line-height: 1.4; /* Adjust line height for better text alignment */
  border: 1px solid #e0e0e0; /* Lighter border color */
  border-radius: 4px; /* Slightly rounded corners for a softer look */
  box-shadow: none; /* Remove shadow for a flatter style */
  outline: none; /* Remove the default focus outline */
  transition: border-color 0.2s, box-shadow 0.2s; /* Smooth transition for focus */
}
.selectors-row[data-v-08e238c3] {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Spacing between rows */
  margin-left: 20px;
}