
.label[data-v-f2958f57] {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}
.select-wrapper[data-v-f2958f57] {
  width: 100%;
  position: relative;
}
.x-flip[data-v-eac276b3] {
  transform: scaleX(-1);
}
.va-navbar__item[data-v-eac276b3] {
  cursor: pointer;
  margin-bottom: 20px; /* Added margin for spacing */
}
.data-type-select[data-v-eac276b3] {
  margin-top: 10px;
  margin-bottom: 20px;
}
.selector-container[data-v-eac276b3] {
  display: flex; /* Make children align horizontally */
  align-items: center; /* Center items vertically */
  gap: 10px; /* Add space between items */
  margin-bottom: 12px; /* Added padding between selector and editor */
}