/*
 * Override some pytest-html default CSS styles
 */

.col-links a {
    text-decoration: none;
    color: darkslategrey;
}

.logwrapper {
    min-height: unset;
    max-height: 100px;
}

.logwrapper .log {
    min-height: unset;
}

span.error,
.error .col-result {
    color: black;
}

span.skipped,
.skipped .col-result {
    color: #727272;
}

span.xfailed,
span.xpassed,
.xfailed .col-result,
.xpassed .col-result {
    color: orange;
}

span.error,
.error .col-result {
    color: black;
}

/*
 * Plugin CSS style
 */

.extras_comment {
    font-family: monospace;
    color: blue;
}

.extras_comment strong {
    color: black;
}

.extras_color_skipped {
    color: #727272;
}

.extras_color_xfailed,
.extras_color_xpassed {
    color: #b37400;
}

.extras_color_error {
    color: black;
}

.extras_color_failed {
    color: red;
}

.extras_header td {
    padding-top: 10px;
    vertical-align: top;
}

.extras_header_separator {
    width: 10px;
}

.extras_td_multimedia {
    width: 320px;
}

.extras_td_multimedia div {
    text-align: center;
}

.extras_title {
    color: black;
    font-size: medium;
    font-weight: bold;
}

.extras_description {
    color: black;
    font-size: 16px;
}

.extras_params_key {
    color: #999;
    font-size: 14px;
}

.extras_params_value {
    color: black;
    font-size: 14px;
}

.extras_header_block {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.visibility_status { }

.visibility_parameters { }

.visibility_links {
    visibility: collapse;
}

.visibility_links a {
    text-decoration: none;
    color: darkslategrey;
}

.visibility_execution {
    visibility: collapse;
}

.visibility_last_scr_error { }

.extras_separator {
    height: 1px;
    background-color: gray;
}

/*
.extras_audio {
    width: 300px;
}
*/

.extras_video {
    border: 1px solid #e6e6e6;
    width: 300px;
    height: 170px;
}

.extras_td_multimedia svg {
    border: 1px solid #e6e6e6;
    width: 300px;
    height: 170px;
}

.extras_image {
    border: 1px solid #e6e6e6;
    width: 300px;
    height: 170px;
    object-fit: cover;
    object-position: top;
}

.extras_page_src {
    color: #00b5ff;
    font-size: 12px;
}

.extras_attachment {
    color: black;
    margin-left: 30px;
    margin-right: 30px;
}

.extras_comment code,
.extras_attachment_block {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    padding: .2em .4em;
    color: black;
    background-color: #818b981f;
    border-radius: 6px;
}

.extras_attachment_error {
    color: red;
}

.extras_iframe {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    resize: both;
    overflow: auto;
    background-color: #faf0e6;
    inline-size: -webkit-fill-available;
}

.extras_status {
    border-radius: 3px;
    color: #fff;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 2px 4px 2px 5px;
    vertical-align: baseline;
}

.extras_status_passed {
    background: #97cc64;
}

.extras_status_failed {
    background: #fd5a3e;
}

.extras_status_skipped {
    background: #aaa;
}

.extras_status_xfailed,
.extras_status_xpassed {
    background: orange;
}

.extras_status_error {
    background: black;
}

.extras_status_reason {
    color: black;
    font-size: 14px;
}
